@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.7455357142857143) 0%,
    rgba(163, 150, 0, 0.7315301120448179) 51%,
    rgba(0, 255, 59, 0.7035189075630253) 100%
  );
}
